﻿@model Digitest.Models.AnswerChoice

@{
    ViewBag.Title = "Create";
}

<h2>Vastused</h2>


@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })

                </div>

                <div> @Html.LabelFor(model => model.IsRightAnswer, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="checkbox">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsRightAnswer)
                        @Html.ValidationMessageFor(model => model.IsRightAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvesta" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })

                </div>

                <div> @Html.LabelFor(model => model.IsRightAnswer, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="checkbox">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsRightAnswer)
                        @Html.ValidationMessageFor(model => model.IsRightAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvesta" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



}