﻿@model Digitest.Models.ClientQuestions

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <p>
        <img id="logo" src="~/Content/images/logo.png" alt="IT Koolitus" style="width:128px;height:38px;" align="bottom" hspace="20">
        <h1>Digioskuste test</h1>
    </p>

    <p class="lead">
        <h3>
            Testi tasuta oma digioskuste taset!
            Täitmine võtab aega keskmiselt 10-20 minutit ning tulemused kuvatakse Sulle koheselt pärast täitmise lõpetamist.
        </h3>

    </p>
</div>
<hr />
<div class="query">
    <div class="row">
        <div class="col-md-4">
            <div style='color:red;'>@TempData["Salvestatud"]</div>
            <div style='color:blue;'>@TempData["Tulemus"]</div>

</div>
    

@using (Html.BeginForm("SaveData", "Home"))
{
    @Html.AntiForgeryToken()


    <div class="form-control-static">
        <div class=" query">
            @{
                int counter = 0;
            }
            @foreach (var question in Model.Questions)
            {

                counter++;
                <div class="questionBox">

                    <b>@(counter + ". ")@Html.DisplayFor(modelItem => question.QuestionText)</b>
                </div>

                <br />

                foreach (var answerChoice in question.AnswerChoice)
                {
                    if (question.AnswerTypeId == 1)
                    {
                        <div>
                            <span>
                                @Html.CheckBox("checkbox_" + answerChoice.Id, new { @class = "checkbox" })
                                @Html.DisplayFor(modelItem => answerChoice.AnswerText)
                            </span>
                        </div>
                    }

                    else if (question.AnswerTypeId == 2)
                    {

                        <div>
                            @Html.RadioButton("radiobutton_" + question.Id, answerChoice.Id)
                            @Html.DisplayFor(modelItem => answerChoice.AnswerText)
                        </div>
                    }

                    else if (question.AnswerTypeId == 3)
                    {

                        @Html.TextArea("textarea_" + answerChoice.Id, true)
                    }


                }


                <br />
                if (question.AnswerTypeId == 4)
                {
                    foreach (var dragDropRight in question.DragDropRight)
                    {

                        var dragRightId = "drag_" + dragDropRight.Id;

                        <span id="@dragRightId" draggable="true" ondragstart="drag(event)" class="dragRightId"> @dragDropRight.RightText</span>

                    }
                }


                <div class="row">
                    <div class="column">
                        <p>
                            @foreach (var dragDropLeft in question.DragDropLeft)
                            {

                                <div id="dragDropLeftId"> @dragDropLeft.LeftText </div>


                            }
                        </p>
                    </div>
                    <div class="column">

                        <p>
                            @foreach (var dragDropLeft in question.DragDropLeft)
                            {

                                <div id="@dragDropLeft.Id" ondrop="drop(event)" ondragover="allowDrop(event)" class="dragRightId"></div>
                                @Html.Hidden("dragleft_" + dragDropLeft.Id.ToString(), "");


                            }
                        </p>
                    </div>
                </div>


            }

        </div>
        <br />
        <div class="form-horizontal">
            <h2>Tulemus kuvatakse kohe pärast andmete sisestamist</h2>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Client.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Client.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Client.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Client.Age, "", new { @class = "text-danger question" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Client.Gender, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Client.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>Kui soovite tulemusi enda e-postile, sisestage palun e-posti aadress</p>
            <div class="form-group">
                @Html.LabelFor(model => model.Client.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Client.Email, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Client.Permission, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Client.Permission)
                        @Html.ValidationMessageFor(model => model.Client.Permission, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </div>
    </p>

    <br />
    <br />

}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="footer">NB! Testi koostas IT Koolitus (www.koolitus.ee). Testi küsimused põhinevad rahvusvahelisel digitaalse kirjaoskuse raamistikul<a href="https://ec.europa.eu/jrc/en/digcomp/digital-competence-framework"> DigiComp 2.0</a></div>
@*DigiComp 2.0 (vt lisainfot: https://ec.europa.eu/jrc/en/digcomp/digital-competence-framework).</div>*@

